<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Protocol Selection</title>
	<script src="https://unpkg.com/htmx.org@2.0.1"
		integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
		crossorigin="anonymous"></script>
</head>
<style>
	:root {
		--primary-color: #3498db;
		--secondary-color: #2c3e50;
		--background-color: #ecf0f1;
		--text-color: #34495e;
		--shadow-color: rgba(0, 0, 0, 0.1);
	}

	body {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		background-color: var(--background-color);
		color: var(--text-color);
		line-height: 1.6;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}

	.container{
		background-color: white;
		border-radius: 8px;
		box-shadow: 0 4px 6px var(--shadow-color);
		padding: 1rem 2rem;
		margin: 2px;
		width: 530px;
	}

	header {
		color: var(--primary-color);
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}

	#current-protocol {
		font-weight: bold;
	}

	.container div.field-wrapper{
		width: 80%;
		margin: 0.25rem auto 0.5rem;
		border-bottom: 1px solid grey;
		padding-bottom: .25em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.container label{
		flex: 1;
	}

	.container input, .container select{
		background-color:#ccc;
		padding: 0.5rem;
		margin-bottom: 1rem;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 1rem;
	}

	.container input, .container select, .container span{
		font-size: 1rem;
		flex: 2;
		border: none;
  	text-align: center;
	}

	.container button{
		
	}


	button {
		width: 80%;
		margin: 0 10%;

		background-color: var(--primary-color);
		color: white;
		border: none;
		padding: 0.5rem 1rem;
		/* margin: 0 auto;*/
		font-size: 1rem;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

	button:hover {
		background-color: #2980b9;
	}

	button.delete-btn {
		width: auto;	
			background-color: #ff4d4d; 
			color: white;
	}

	button.delete-btn:hover {
			background-color: #ff1a1a; 
	}

	@media (max-width: 600px) {
		.container {
			width: 80%;
			padding: 1.5rem;
		}
		.container div.field-wrapper{
			flex-direction: column;
		}
		.container label, .container input, .container select, .container span{
			flex: 1;
		}
	}
</style>

<body>
	<header>Automated NMR Station</header>

	<div id="user-record" class="container">
		
		<div class="field-wrapper"> 
			<label for="Solvent" class="user-record">Solvent:</label>
			<input type="text" id="Solvent" name="Solvent">
    </div>

    <div class="field-wrapper">
			<label for="Sample" class="user-record">Sample:</label>
			<input type="text" id="Sample" name="Sample">
    </div>

    <div class="field-wrapper">
			<label for="Custom" class="user-record">Custom Field:</label>
			<input type="text" id="Custom" name="Custom">
    </div>
		
		<button hx-post="/save-user-record" 
						hx-trigger="click"
						hx-include="#user-record" >
				Save
		</button>

	
	</div>

	<div id="sample-config" class="container">
		<div class="field-wrapper">
			<label>Id of vials to be analyzed: </label>
			<input id="process-order" class="sample" type="text" name="process-order" placeholder="e.g., 1,2,3">
		</div>
		<button hx-post="/save-process-order" 
            hx-trigger="click"
						hx-include="#process-order" >
        Save
    </button>
	</div>

	<div id="protocol-config" class="container">
		<div id="protocol-selection" class="field-wrapper">
			<label>Select a protocol</label>
			<select class="submit-val" hx-get="/get_protocol_param" name="protocol" hx-target=".get_protocol_param" > <!-- hx-swap="outerHTML" -->
				<option> Select Protocol </option>
				{% for protocol in protocols %}
				<option value="{{ protocol }}">{{ protocol }}</option>
				{% endfor %}
			</select>
		</div>
		<div id="protocol-mode-selection" class="get_protocol_param">
		</div>
		<div id="protocol-mode-param" class="get_protocol_param change_protocol_mode_param">
		</div>
		<div id="protocol-nonmode-param" class="get_protocol_param">
		</div>
		<div id="add-protocol" class="get_protocol_param">
		</div>
	</div>

	<div id="start-automation" class="container">
		<button hx-get="/start_automation"> Start Automation </button>
	</div>
</body>

</html>