<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Protocol Selection</title>
	<script src="https://unpkg.com/htmx.org@2.0.1"
		integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
		crossorigin="anonymous"></script>
</head>
<style>
	:root {
		--primary-color: #3498db;
		--secondary-color: #2c3e50;
		--background-color: #ecf0f1;
		--text-color: #34495e;
		--shadow-color: rgba(0, 0, 0, 0.1);
	}

	body {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		background-color: var(--background-color);
		color: var(--text-color);
		line-height: 1.6;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}

	.container {
		background-color: white;
		border-radius: 8px;
		box-shadow: 0 4px 6px var(--shadow-color);
		padding: 2rem;
		width: 250px;
	}

	h1 {
		color: var(--secondary-color);
		margin-top: 0;
		margin-bottom: 1.5rem;
		text-align: center;
	}

	h2 {
		color: var(--primary-color);
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}

	#current-protocol {
		font-weight: bold;
	}

	form {
		display: flex;
		flex-direction: column;
	}

	select input {
		padding: 0.5rem;
		margin-bottom: 1rem;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 1rem;
	}

	button {
		background-color: var(--primary-color);
		color: white;
		border: none;
		padding: 0.7rem 1rem;
		font-size: 1rem;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

	button:hover {
		background-color: #2980b9;
	}

	button.delete-btn {
			background-color: #ff4d4d; /* A shade of red */
			color: white;
	}

	button.delete-btn:hover {
			background-color: #ff1a1a; /* A darker shade of red for hover */
	}

	@media (max-width: 600px) {
		.container {
			width: 95%;
			padding: 1.5rem;
		}
	}
</style>

<body>
	<header>Automated NMR Station</header>

	<div id="sample-config" class="container">
		<label>Id of vials to be analyzed: </label>
		<input id="process-order" class="sample" type="text" name="process-order" placeholder="e.g., 1,2,3">
		<button hx-post="/save-process-order" 
            hx-trigger="click"
						hx-include="#process-order" >
        Save
    </button>
	</div>

	<div id="protocol-config" class="container">
		<div id="protocol-selection">
			<label>Select a protocol</label>
			<select class="submit-val" hx-get="/get_protocol_param" name="protocol" hx-target=".get_protocol_param" > <!-- hx-swap="outerHTML" -->
				<option> Select Protocol </option>
				{% for protocol in protocols %}
				<option value="{{ protocol }}">{{ protocol }}</option>
				{% endfor %}
			</select>
		</div>
		<div id="protocol-mode-selection" class="get_protocol_param">
		</div>
		<div id="protocol-mode-param" class="get_protocol_param change_protocol_mode_param">
		</div>
		<div id="protocol-nonmode-param" class="get_protocol_param">
		</div>
		<div id="add-protocol" class="get_protocol_param">
		</div>
	</div>

	<div id="start-automation" class="container">
		<button hx-get="/start_automation"> Start Automation </button>
	</div>
</body>

</html>