<div id="protocol-options" hx-swap="outerHTML">
    {% set mode_excluded_params = {
        "Manual": ["autoStart", "autoEnd", "autoStart2", "autoEnd2", "autoStart3", "autoEnd3"],
        "Auto 3 Peaks": ["satFrequency1", "satFrequency2", "satFrequency3"],
        "Auto 2 Peaks": ["satFrequency1", "satFrequency2", "satFrequency3", "autoStart3", "autoEnd3"],
        "Auto": ["satFrequency1", "satFrequency2", "satFrequency3", "autoStart2", "autoEnd2", "autoStart3", "autoEnd3"]
    } %}

    {% for key in params %} {% if key is not in mode_excluded_params[current_mode] %} 
        <div>
            <label>{{ key }}</label>
        
        {% if params[key]['type'] == 'input' %}
            <input class="submit-val" type="text" name="{{ key }}">
        {% elif params[key]['type'] == 'select' %}
            <select class="submit-val"
                {% if key == "Mode" %}
                    hx-get="/select_protocol" name="Mode" hx-target="#protocol-options" 
                {% else %}
                    name="{{ key }}"
                {% endif %} 
            >         
                {% for option in params[key]['options']%}
                    <option>{{ option }}</option>
                {% endfor %}
            </select>
        {% endif %}
        </div>
    {% endif %} {% endfor %}
</div>